
@keyframes change-color{
	0% {color: red;}
	10%{color: orange;}
	20%{color: yellow;}
	40% {color: green;}
	50% {color:indigo ;}
	60% {color:blue ;}
	70% {color: purple;}
	100%{color: pink;}
}

.nav-my{

  background-color: orangered;

}
#logo{
    margin: 10px 20px;
}
#logo img{

    height: 62px;
    margin: 3px 4px;
}